/* Box Model Hack */
* {
    box-sizing: border-box;
    margin: 0;
  }
  
  /* Clear fix hack */
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  body {
    font-family: 'Roboto', sans-serif;
    color: rgb(22, 31, 42);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
  }
  
  p {
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  /* HEADER */
  nav {
    text-align: center;
    padding: 20px 45px;
    color: white;
    font-size: 14px;
  }
  
  nav a {
    color: white;
    font-weight: 500;
  }
  
  nav > ul a {
    padding-left: 20px;
  }
  
  nav > ul {
    float: left;
  }
  
  nav > ul > li {
    float: left;
  }
  
  nav > a {
    float: right;
    color: rgb(102, 118, 138);
    background: white;
    padding: 7px;
    border-radius: 3px;
  }
  
  header, main {
    background: rgb(102, 118, 138);
  }
  
  /* MAIN */
  main {
    margin: 0;
    text-align: center;
    color: white;
    height: 437px;
    padding: 58px 100px;
  }
  
  main > h1 {
    font-size: 61px;
    letter-spacing: 1px;
    padding-bottom: 23px;
  }
  
  main > p {
    padding-bottom: 63px;
    font-size: 17px;
  }
  
  main > span {
    display: block;
    font-size: 20px;
    font-weight: 300;
    padding: 25px 0;
  }
  
  main > span + span {
    font-style: italic;
    color: black;
    font-size: 12px;
  }
  
  /* SECTION */
  section {
    text-align: center;
  }
  
  /* WHY-SECTION */
  .why-section {
    background: white;
    color: rgb(22, 31, 42);
    height: 367px;
    padding: 90px 0;
  }
  
  .why-section h2 {
    margin-bottom: 10px;
  }
  
  .why-section p {
    display: inline-block;
    max-width: 50%;
  }
  
  /* VISIT SECTION */
  .visit {
    height: 627px;
    background: rgb(219, 223, 226);
    padding: 98px 105px;
  }
  
  .visit > section {
    width: 50%;
    float: left;
  }
  
  .fake-img {
    min-width: 300px;
    min-height: 180px;
    background: rgb(102, 118, 138);
    display: inline-block;
  }
  
  .visit * {
    margin-bottom: 20px;
  }
  
  .visit p {
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
  }
  
  /* VOLUNTEER */
  .volunteer {
    height: 455px;
    padding: 100px 276px;
  }
  
  .volunteer * {
    margin-bottom: 20px;
  }
  
  .volunteer h2 {
    font-size: 30px;
  }
  
  .volunteer p {
    max-width: 100%;
    margin: auto;
    margin-bottom: 40px;
  }
  
  /* FOOTER */
  footer {
    background: rgb(22, 31, 42);
    color: white;
    padding: 23px 30px;
  }
  
  /* TOP FOOTER */
  .social {
    float: left;
  }
  
  .social, .address {
    text-align: left;
  }
  
  .social ul {
    margin-bottom: 10px;
  }
  
  .social h5 {
    margin-bottom: 2px;
    font-size: 12px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .social li {
    display: inline;
    padding-right: 15px;
  }
  
  .social a {
    color: white;
    font-size: 13px;
    font-weight: 700;
  }
  
  .social i {
    font-size: 20px;
  }
  
  .address {
    float: right;
  }
  
  .address > h4 {
    margin-bottom: 10px;
  }
  
  .address > p {
    font-size: 13px;
  }
  
  .address span {
    display: block;
  }
  
  /* BOTTOM FOOTER */
  .bottom-footer p {
    text-align: left;
    font-size: 14px;
    border-top: 1px solid white;
    padding: 10px 0;
  }
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  .option-btn {
    color: rgb(22, 31, 42);
    background: transparent;
    border: 1px solid gray;
    padding: 15px 50px;
    font-weight: 600;
    font-size: 15px;
  }